@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap');

html,
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgb(163, 41, 37);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

p {
  font-family: 'Poppins', "Arial", "Helvetica", sans-serif !important;
  line-height: 1.2;
}

h1,
h2,
h3,
h4 {
  font-family: 'Monoton', "Arial Black", "Helvetica", sans-serif !important;
}

h1 {
  font-size: 1.5rem;
  font-family: 'Monoton', "Arial Black", "Helvetica", sans-serif;
  letter-spacing: -1px;
  line-height: 1;
}

h2 {
  font-family: 'Monoton', "Helvetica", "Arial", sans-serif !important;
  line-height: 0.5rem;
  background: #FF8000;
  background: -webkit-linear-gradient(to bottom, #FF8000 0%, #AB1700 100%);
  background: -moz-linear-gradient(to bottom, #FF8000 0%, #AB1700 100%);
  background: linear-gradient(to bottom, #FF8000 0%, #AB1700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: 'Monoton', "Helvetica", "Arial", sans-serif !important;
  letter-spacing: -1px;
  line-height: 0.875rem !important;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  background: transparent !important;
}

*:focus,
.card:focus,
.cardBody:focus,
a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  text-decoration: none;
}


.fadeOut {
  -webkit-animation: fadeoutfromone 1s ease-out forwards;
  -moz-animation: fadeoutfromone 1s ease-out forwards;
  -o-animation: fadeoutfromone 1s ease-out forwards;
  animation: fadeoutfromone 1s ease-out forwards;
}

@-webkit-keyframes fadeoutfromone {
  0% {
    opacity: 1;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeoutfromone {
  0% {
    opacity: 1;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeoutfromone {
  0% {
    opacity: 1;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeoutfromone {
  0% {
    opacity: 1;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
