html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgb(163, 41, 37);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

nav {
  background: transparent !important;
}

*:focus,
.card:focus,
.cardBody:focus,
a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  text-decoration: none;
}

@media screen and (min-width: 640px) {
  html,
  .uk-h5 {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680)) !important;
  }
}

@media screen and (min-width: 1000px) {
  html,
  .uk-h5 {
    font-size: 24px !important;
  }
}

.fadeOut {
  -webkit-animation: fadeoutfromone 1s ease-out forwards;
  -moz-animation: fadeoutfromone 1s ease-out forwards;
  -o-animation: fadeoutfromone 1s ease-out forwards;
  animation: fadeoutfromone 1s ease-out forwards;
}

@-webkit-keyframes fadeoutfromone {
  0% {
    opacity: 1;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeoutfromone {
  0% {
    opacity: 1;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeoutfromone {
  0% {
    opacity: 1;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeoutfromone {
  0% {
    opacity: 1;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
